# Здесь место для специфичных игноров для проекта


# Двойное подчеркивание используем для своих рандомных файлов и папок, которых не должно быть в гите
__*
!__init__.py


.env
.venv
.pytest_cache
.ruff_cache
.docker
*.bak
.coverage

# Маковские системные файлы
.DS_Store
# Виндовые системные файлы
*Zone.Identifier
~$*

# Редакторы - VS Code
# launch.json и settings.json можно оставить, если в них нет настроек, специфичных для вашего окружения

# Редакторы - Pycharm
# Если есть какие-то полезные файлы (без личных настроек), можно добавить в исключения
.idea

# Результаты сборки
dist/
